/* Cool Page CSS */

/* Centered Image: */

.centered img {
    display: block;
    margin: auto;
    width: 60%;
}

/* Banner: */

.cool_banner {
    width:100%;
    border: 1px solid black;
    background: black;
    color: white;
    text-align: center;
    font-size: 16px;
    font-size: 2vw;
    overflow: hidden;
}

.cool_banner :hover {
    color: #06d817;
}

.red {
    color: red;
}

.purple {
    color:purple;
}